*.diff
*.orig
*.patch
*.rej

*.o
*.pyc
*.pyo

*.cwnd
*.dat
*.log
*.mob
*.pcap
*.plt
*.routes
*.tr
[D|U]l[A-Z][a-z]*Stats.txt

\#*#
~*

testpy-output

bindings/python/pybindgen/

ms_print.*
massif.*
coverity
TAGS

.lock-waf_*_build
.waf*

#examples/multipath/
output-attributes.txt
build-dir/
build/
/.cproject
/.project

version.cache
src/traci-applications/examples/ns3-sumo-coupling.xml
sumo-errors-or-collisions.xml
.vscode/c_cpp_properties.json
examples/multipath/git_token.txt
ns3-sumo-coupling.xml
src/traci-applications/examples/ns3-sumo-coupling.xml
